html,body{
    margin:0;
    padding: 0;
    background: #99d3df; 
	font-size: 17px;
    font-family: "Rockwell", "Courier New", Courier, Georgia,
                 Times, "Times New Roman", serif;
}

h1{
	color:#0d0d0d;
	text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    padding: 0;
}

dl{
    margin:0;
}

dt{
	font-style: italic;
}

dd{
    margin-top: 5px;
    margin-bottom: 5px;
}


#left{ 
	float: left; 
	width: 45%; 
	margin:15px;
}

#options{
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

#optionsul {
    display: inline-block;
    text-align: left;
}


#right{ 
	float: right; 
	width: 0%; 
    text-align: center;
}

#right img{
    margin:10px;
    width: 95%;
    
}

#hide{
    display: none;
}

#center{ 
	display: inline-block; 
	width: 50%; 
}

textarea{
	background-color: #46515b;
    font-size: 12pt;
    color: white;
    font-family: "courier new", Courier, Georgia,
                 Times, "Times New Roman", serif;
	width:100%;
	resize:none;
}

li{
    margin: 10px 0;    
}

ul.help{
	margin-top: 5%;
 	margin-left: 10%;
  	margin-right: 10%;
  	list-style-type: none;
	padding:0;
    background-color: #bfdfa7;
    border-style: solid;
    border-width: 1px;
    text-align:center;
}

li.help{
    display: block;
    color: black;
    font-size: 20pt;
    font-family: "Rockwell";
    padding: 8px 16px;
    text-decoration: none;
}

input[type=checkbox]{
	text-align: left;
}

#mover{
	height:30px;
	width:45%;
    float:left;
}

#updater{
	height:30px;
	width:45%;
    float:right;
}

#button{
	font-size: 14px;
	font-family:"Rockwell","Courier New", Courier, Georgia,
                 Times, "Times New Roman", serif;
}

.homebutton{
	position:fixed;
	left:45%;
	bottom:10%;
	font-size: 30pt;
	align-content: center;
}

h2 {
    text-align: center;
    height: 0;
    margin-bottom:30px;
    margin-top: 0;
}
